*.iml
.gradle
/local.properties
/.idea/**
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/git_toolbox_prj.xml
/app/src/main/res/xml/backup_rules.xml
/app/src/main/res/values/colors.xml
/app/src/main/res/xml/data_extraction_rules.xml
/.idea/compiler.xml
/.idea/sonarlint/issuestore/f/5/f5345077e5859278864dae0f21622152c1ce34f9
/.idea/sonarlint/securityhotspotstore/f/5/f5345077e5859278864dae0f21622152c1ce34f9
/.idea/gradle.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/kotlinc.xml
/.idea/misc.xml
/.idea/vcs.xml
/gradle.properties
